html,
body {
    margin: 0;
    background-color: #001a42;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.wrapper {
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 20px;
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;


}

.wrapper:hover{
    background-color: white;
    color: black;
}

.adv {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    
}


.promotional {
    position: absolute;
    top: 8%;
    left: 45%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pt {
    font-size: 50pt;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

}

.button-container {
    z-index: 3;
    position: absolute;
    transform: translate(-50%, 100%);
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
}

.bgimg {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
}

div.top-bar {
    padding: 10px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 25px;
    flex-direction: row;    
}

.top-bar .buttons .button {
    margin-left: 20px;
    position: relative;
}

.logo-box {
    display: flex;
    justify-content: flex-start;
}

#logo {
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    overflow-x: hidden;
    flex: 1 50%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #firstimg {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 35px;
  }

  .split {
    padding: 30px;
  }

  .split h2 {
    font-size: 30px;
  }

  @media (max-width: 900px) {
    .container {
      flex-wrap: wrap;
    }

    .split {
      flex: 1 50%;
    }
}

.features {
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    align-items: center;
}

.fs {
    padding: 40px;
}

.fs .fparagraph {
    outline: 2px solid white;
    padding: 20px;
    font-size: 25px;
}

.codey {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 200px;
    margin-bottom: 100px;
    background-color: black;
    color: wheat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    outline: 2px solid white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.codey:hover .codey-adv{
    color: black;
}

.codey:hover {
    background-color: white;
}

.codey:hover .button-container-2{
    background-color: black;
}

.codey:hover .ptbutton{
    color: white;
}

.ptbutton{
    transition: background-color 0.5s ease, color 0.5s ease;
}

.button-container-2:hover{
    outline: 2px grey;
}

.codey .codey-page {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.codey-adv {
    font-size: 50pt;
    color: white;
    text-align: center;
    transition: color 0.5s ease;
}

.button-container-2 {
    z-index: 2;
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    max-width: 100px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projectimage {
    border-radius: 10px;
    object-fit: cover;
    width: 250px;
    height: 150px;
}

.project-title {
    padding: 10px;
}

.explore-flexbox {
    position: relative;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    outline: 2px solid white;
    padding: 30px;
}

.explore h2 {
    font-size: 40px;
    color: white;

}

.project-title h4 {
    padding: 5px;
    margin: 0px;
}

.project-title p {
    padding: 5px;
    margin-top: 0px;
}

.qspro {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    background-color: bisque;
    outline: 2px solid white;
    transition: background-color 0.5s ease, color 0.5s ease;
    justify-content: space-between;
    padding: 60px;
}

.qspro-contents h2{
    font-size: 40px;

}

.qspro-contents p{
    text-align: left;

}

.button-container-3 {
    z-index: 2;
    position: absolute;
    transform: translate(-40%, 180%);
    background-color: #4CAF50; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}