html,
body {
    margin: 0;
    background-color: #001a42;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Space Grotesk', sans-serif;
}

a{
    text-decoration: none;

}


.wrapper {
    z-index: 5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 20px;
    background-color: #001a42;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.wrapper:hover{
    background-color: #00001f;
    color: black;
}


.adv {
    z-index: 1;
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    
}


.promotional {
    position: absolute;
    color: white;
    text-align: right;
    margin-right: 300px;
}

#pt {
    font-size: 130px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: right;
    font-weight: 400;
    line-height: 0.9;
    margin-bottom: 10px;
    margin-top: 0px;
}

.ptbutton {
    font-weight: 200px;
}

.side-button-box {
    display: none;
}

.sidebar {
    display: none;
}

@media screen and (max-width: 768px) {
    .side-button-box {
        display: flex;
        justify-content: left;
        align-items: center;
        position: absolute;
        left: 30px;
        top: 50%; 
        transform: translateY(-50%);
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: -500px; 
        width: 250px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: left 0.5s;
        padding-top: 30px;
    }

    .side-button-box #side-button {
        width: 30px;
        height: 25px;
        padding: 0px;
    }

    .login, .contact-us{
        border: none;
        outline: none;
        background-color: #4eeeff;
        border-radius: 5px;
        color: black;
        cursor: pointer;
        padding: 12px 24px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.5s ease, color 0.5s ease;
        font-family: 'Space Grotesk', sans-serif;
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .login:hover, .contact-us:hover {
        background-color: #ffffff;
        color: #000000;
        border-radius: 5px;
    }

    .sidebar #close-button {
        width: 25px;
        height: 25px;
        padding-left: 20px;
        padding-bottom: 10px;
        transform: translateX(410%);
    }
}

.button-container button {
    border: none;
    outline: none;
    background-color: #4eeeff;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Space Grotesk', sans-serif;
}

.button-container button:hover {
    background-color: #ff675e;
    border-radius: 5px;
    border: none;
    outline: none;
}

.bgimg {
    display: inline-flex;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: auto;
    position: relative;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .adv, .bgimg {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 500px;
    }

    .promotional {
        margin-top: 20px;
        margin-right: 0;
    }

    #pt {
        font-size: 50px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }

    .button-container {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 10px 32px; 
        font-size: 10px; 
        margin: 0%;
        text-align: center;
    }
}

div.top-bar {
    padding: 50px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 25px;
    flex-direction: row;
    align-items: center;    
}

.top-bar .buttons .button {
    margin-left: 20px;
    position: relative;
    color: white;
    transition: color 0.5s ease;
}

.top-bar .buttons .button:hover {
    color: #4eeeff;

}

.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.qslogo {
    margin-left: 10px;
    width: 30px;
    height: auto;
    margin-right: 0px;
}

#logo {
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    padding-left: 5px;
    padding-right: 20px;
}


@media screen and (max-width: 768px) {

    .buttons {
        display: none;
    }

    div.top-bar {
        justify-content: center;
    }
    .logo-box {
        justify-content: center;
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    overflow-x: hidden;
    flex: 1 50%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  #firstimg {
    object-fit: cover;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 35px;
  }

  .split {
    padding: 30px;
  }

  .split h2 {
    padding-right: 30px;
    padding-left: 50px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    font-size: 40px;
  }

  .split p{
    padding-left: 50px;
    font-size: 25px;
    color: #438dc5;
    font-weight: 200;
  }

  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-right: 10px;
      margin-left: 10px;
      padding: 0px;
      border: 0px;
    }

    .split {
      flex: 1 50%;
    }

    .split p{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
        color: #438dc5;
        font-weight: 200;
    }

    .split h2 {
        padding-right: 0px;
        padding-left: 0px;
        font-size: 30px;
    }

    #firstimg {
        padding: 25px;
        border: 0px;
        width: 100%;
        height: auto;
    }

}

.features {
    background-color: #000d35;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 60px;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    flex-wrap: nowrap;
}

.features:hover {
    background-color: #00001f;
}

.fs {
    padding: 60px;
}

.fs .fparagraph {
    font-size: 25px;
    color: white;
    font-weight: 200;
}

.ftop-num {
    font-size: 40px;
    color: lightblue;
    font-weight: 200;
}

.fheading {
    font-size: 40px;
    color: lightblue;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .features {
       flex-wrap: wrap;
       margin-left: 10px;
       margin-right: 10px;
       padding-top: 20px;
       padding-left: 10px;
       padding-right: 10px;
       padding-bottom: 0px;
    }

    .fs {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .fs .fparagraph {
        font-size: 16px;
    }

    .fheading, .ftop-num {
        font-size: 25px;
        text-align: left;
    }
}


.codey {
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #000d35;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    outline: 1px solid #438dc5;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 10px;
}


.codey:hover .codey-adv{
    color: black;
}

.codey:hover {
    background-color: white;
    outline: 1px solid white;
}

.codey:hover .button-container-2 button{
    background-color: black;
    border-radius: 5px
    
}

.codey:hover .ptbutton{
    color: white;
    border-radius: 5px
}

.ptbutton{
    transition: background-color 0.5s ease, color 0.5s ease;
    color: #00001f;
}

.codey .codey-page {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 40px;
}

.codey-adv {
    font-size: 50pt;
    color: white;
    text-align: center;
    transition: color 0.5s ease;
}


.button-container-2 button {
    border: none;
    outline: none;
    background-color: #4eeeff;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Space Grotesk', sans-serif;
}

.codey:hover .button-container-2 button:hover {
    background-color: #ff675e;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .codey {
       flex-wrap: wrap;
       margin-left: 20px;
       margin-right: 20px;
       padding-top: 30px;
       padding-left: 0px;
       padding-right: 0px;
       padding-bottom: 30px;
    }

    .codey-adv {
        padding: 0px;
        font-size: 30px;
    }
}

#projectimage {
    border-radius: 5px;
    object-fit: cover;
    width: 250px;
    height: 150px;
    outline: 1px solid white;
}

.inside-titles {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: white;
    font-size: 40px;
}

.project-title {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 17px;
    padding-bottom: 0px;
    color: white;
    background-color: none;
    transition: background-color 0.5s ease, color 0.5s ease;
    border-radius: 15px;
    margin: 5px;
}

.project-title:hover {
    background-color: #001a42;
}

.projects {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.explore-flexbox {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    background-color: #000d35;
    padding: 30px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.explore-flexbox:hover {
    background-color: #00001f;
}

.explore h2 {
    font-size: 40px;
    color: white;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.project-title h4 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    text-align: left;
}

.project-title p {
    text-align: left;
    margin-top: 0px;
    color: #438dc5;
}


@media (max-width: 768px) {

    .explore-flexbox {
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .inside-titles {
      font-size: 30px;
    }

    .explore .inside-titles {
        font-size: 30px;
    }
      

}


.qspro {
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    background-color: #001a42;
    transition: background-color 0.5s ease;
    justify-content: center;
    padding: 100px;
    border-radius: 10px;
    outline: 1px solid #438dc5;
    color: white;
}

.qspro:hover {
    background-color: #000d35;

}

.qspro-center {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qspro-contents p {
    color: #438dc5;
    font-weight: 200;
}

.qspro-contents h2{
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 200;

}

.qspro-contents h4{
    font-weight: 200;
}

.qspro-contents-2 p{
    text-align: right;
    color: white;
    font-weight: 200;
}

.button-container-3 button {
    border: none;
    outline: none;
    background-color: #ff675e;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.5s ease, color 0.5s ease;
    font-family: 'Space Grotesk', sans-serif;
}

.button-container-3 button:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.qspro:hover .button-container-3:hover {
    background-color: white;
    border-radius: 5px;
}

.qspro:hover .ptbutton {
    color: black;
    border-radius: 5px;
}


.qspro:hover .button-container-3:hover .ptbutton {
    color: black;
    border-radius: 5px;
}


@media (max-width: 768px) {

    .qspro {
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
        padding-bottom: 50px;
        padding-top: 20px;
    }

    .qspro-center {
        flex-wrap: wrap;
        justify-content: center;
    }

    .qspro-contents h2 {
        font-size: 50px;
        text-align: center;
    }

    .qspro-contents p, h4 {
        text-align: center;
    }
    
    
    .qspro-contents-2 p, .button-container-3{
        text-align: center;
        color: white;
        font-weight: 200;
    }

}

footer {
    background-color: black;
    padding: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
footer a:hover {
    color: #4eeeff;
    text-decoration: underline;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer li {
    list-style-type: none;
    margin-right: 10px;
}

.partner-title {
    text-align: right;
    padding-right: 15px;
    padding-top: 0px;
    margin-top: 0px;
}
footer .partners {
    text-align: right;
    align-items: top;
}
footer .logo-box {
    padding-top: 0px;
    text-align: left;
    align-items: top;
    padding-bottom: 30px;
}

footer .logo-box a:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }

    footer .partner-title {
        text-align: center;
        padding: 0px;
    }

    footer .partners {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    footer li {
        margin-right: 0px;
    }

    footer .logo-box #logo {
        padding-left: 0px;
    }
}
