.div.top-bar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #001a42;
    margin: 0px;
    border-bottom: 20px;
}

.top-bar.buttons {
    margin: 0 10px;
    padding: 5px 10px;
}